html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

body {	
	flex-wrap:wrap;
}
body, html {
	height:100%;
	margin:0;
	font-family: Verdana;
}
#parallax {
	background-image: url("https://i.ytimg.com/vi/XwFsn7Qivd8/maxresdefault.jpg");
	height:100%;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#title, #lorem {
	text-align: center;
	color:white;
	font-size:55px;
	font-style: italic;
	font-family:'Josefin Sans', sans-serif;
/*	background-color: rgba(0, 0, 0, 0.3);*/
}
#lorem {
	font-size: 45px;
	color:rgb(224,148,60);
}
#titleGallery {
	margin:0;
	margin-left:27px;
	padding:0;
	font-size: 45px;
	font-style: italic;
	font-family:'Josefin Sans', sans-serif;
}
#gallery {
	height:auto;
	width:100%;
	padding:2% 5%;
}
.normal {
	width:350px;
	margin-bottom:2px;
	transition: .5s ease;
  	backface-visibility: hidden;
  	margin-left: 10%;
}
.text {
  color: rgb(50,50,50);
  font-size: 16px;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.thumbnail:hover .middle {
  opacity: 1;
}
.thumbnail:hover .normal {
  opacity: 0.3;
  cursor:pointer;
}

#about {
	background-image: url("http://68.media.tumblr.com/2f7b2bbfca339b5c643673fd6a5c93fb/tumblr_oo9hpvEeu91v66a5qo1_1280.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#details {
	border:1px solid white;
	color:white;
	padding:10px;
	font-size: 17px;
	background-color: rgba(0, 0, 0, 0.3);	
}
#aboutHeader {
	color:rgb(224,148,60);
	font-size:55px;
	font-style: italic;
	font-family:'Josefin Sans', sans-serif;
}
#h3 {
	color:white;
	font-style: italic;
	font-family:'Josefin Sans', sans-serif;
	font-size:25px;
}
label {
	color:white;
	margin-top: 2%;
	font-family:'Josefin Sans', sans-serif;
}


